@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}

.timer {
  height: 1rem;
  width: 100vw;
  position: absolute;
  left: 0;
  bottom: 0;
  animation-name: grow;
  animation-duration: 6s;
  animation-timing-function: linear;
}

.timer-dark {
  background-color: white;
}

.timer-light {
  background-color: black;
}
