.App {
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.App-dark {
  background-color: black;
}

.App-light {
  background-color: white;
}

.name {
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 2rem;
  font-weight: bold;
}

.name-dark {
  color: white;
}

.name-light {
  color: black;
}
